.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.2;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  background-color: #000000;
}
.thanks {
  padding-left: 15px;
  margin-bottom: 5px;
  color: gray;
}
.sidebar__logo {
  margin-right: auto;
  height: 70px;
  padding: 10px;
}

.sidebar__title {
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
}
